<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" routerLink="/">
    <img class="card-img-top foto" src="http://subirimagen.me/uploads/20181110133408.jpg" alt="Card image cap">  
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/habilidades">Habilidades <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/proyectos">Proyectos<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/contacto">Contacto<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a href="../../../assets/CV JudithCortes.pdf" download="CVJudithCortes"><i class="fa fa-file"> Ver CV</i></a>
      </li>
    </ul>
  </div>
</nav>