<div class="container">

    <div class="row">
        <div class="col-xs-6 img-responsive">
                <span style="font-size: 10em; color: #143252;">
                        <i class="fab fa-js"></i>
                </span>
        </div>
        <div class="col-xs-6 img-responsive">
                <span style="font-size: 10em; color: #143252;">
                        <i class="fab fa-github-square"></i>
                </span>
        </div> 
    </div> 

    <div class="row">
      <div class="col-xs-6 img-responsive">
            <span style="font-size: 10em; color: #143252;">
                    <i class="fab fa-angular"></i>
            </span>
      </div>
      <div class="col-xs-6 img-responsive">
            <span style="font-size: 10em; color: #143252;">
                    <i class="fab fa-react"></i>
            </span>
      </div>
    </div>

    <div class="row">
            <div class="col-xs-6 img-responsive">
                <span style="font-size: 10em; color: #143252;">
                        <i class="fab fa-css3-alt"></i>
                </span>
            </div>
            <div class="col-xs-6 img-responsive">
                <span style="font-size: 10em; color: #143252; margin-left: 58px;">
                        <i class="fab fa-html5"></i>
                </span>
            </div> 
    </div> 

    <div class="row">
            <div class="col-xs-6 img-responsive">
                    <span style="font-size: 10em; color: #143252;">
                            <i class="fab fa-node"></i>
                    </span>              
            </div>
            <div class="col-xs-6 img-responsive">
                    <span style="font-size: 10em; color: #143252;">
                            <i class="fas fa-mobile-alt"></i>
                    </span>
            </div> 
    </div>         
</div>
