.home{
    background-image: url('https://cdn.olhares.pt/client/files/foto/big/344/3444441.jpg');
    width: 100%;
    height: 600px;
    text-align: center;
padding: 20%;

}

h1 {
    font-size: 2.8rem;
}