/* You can add global styles to this file, and also import other style files */
html{
    background-color:#cac8c2;

}
.main-container{
    margin-top: 50px;
}
.foto{
    width: 70px;
    height: 70px;
    border-radius: 150px;
}

/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.8; 
    cursor: pointer; 
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}